name: Testing, DEBianizing and Releasing

on: push

jobs:
    Pytesting:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
        - uses: actions/checkout@v4
        - name: Development and test dependencies
          run: ./Routines.bash deps_devel
        - name: Pytesting - Unit
          run: ./Routines.bash test_unit
